## `.append()` and `pd.concat()` 

Above we were working with pandas Series. For pandas DataFrames, the append method works just the same, stacking the rows. 

Here we will use what we learned in chapter 1 to read two CSV files as DataFrames, then combine them with the `append()` method.

In [11]:
s1 = pd.read_csv('s1.csv')
s2 = pd.read_csv('s2.csv')

all_data = s1.append(s2)

all_data

   trial        RT
0      1  0.508971
1      2  0.389858
2      3  0.404175
3      4  0.269520
4      5  0.437765
5      6  0.368142
6      7  0.400544
7      8  0.335198
8      9  0.341722
9     10  0.439583
0      1  0.433094
1      2  0.392526
2      3  0.396831
3      4  0.417988
4      5  0.371810
5      6  0.659228
6      7  0.411051
7      8  0.409580
8      9  0.486828
9     10  0.468912

### Appending DataFrames with `ignore_index`

We can also do this with `pd.concat()`, again using `ignore_index=True`:

In [12]:
# s1 and s2 are already loaded into memory from above

df = pd.concat([s1, s2], ignore_index=True)

df

    trial        RT
0       1  0.508971
1       2  0.389858
2       3  0.404175
3       4  0.269520
4       5  0.437765
5       6  0.368142
6       7  0.400544
7       8  0.335198
8       9  0.341722
9      10  0.439583
10      1  0.433094
11      2  0.392526
12      3  0.396831
13      4  0.417988
14      5  0.371810
15      6  0.659228
16      7  0.411051
17      8  0.409580
18      9  0.486828
19     10  0.468912